/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/App.g.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/apphost.exe
/.idea/.idea.MvvmPlayground/.idea/indexLayout.xml
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MainWindow.baml
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MainWindow.g.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.csproj.AssemblyReference.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.csproj.CoreCompileInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.csproj.FileListAbsolute.txt
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample.csproj.nuget.dgspec.json
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample.csproj.nuget.g.props
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample.csproj.nuget.g.targets
/MvvmPlayground.SimpleExample/bin/Debug/net6.0-windows/MvvmPlayground.SimpleExample.deps.json
/MvvmPlayground.SimpleExample/bin/Debug/net6.0-windows/MvvmPlayground.SimpleExample.dll
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/ref/MvvmPlayground.SimpleExample.dll
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/refint/MvvmPlayground.SimpleExample.dll
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.dll
/MvvmPlayground.SimpleExample/bin/Debug/net6.0-windows/MvvmPlayground.SimpleExample.exe
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.g.resources
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.genruntimeconfig.cache
/MvvmPlayground.SimpleExample/bin/Debug/net6.0-windows/MvvmPlayground.SimpleExample.pdb
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample.pdb
/MvvmPlayground.SimpleExample/bin/Debug/net6.0-windows/MvvmPlayground.SimpleExample.runtimeconfig.json
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_0vsmzcmc_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_0vsmzcmc_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_0vsmzcmc_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_0vsmzcmc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ctbcua3u_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ctbcua3u_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ctbcua3u_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ctbcua3u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_fxnzadh3_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_fxnzadh3_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_fxnzadh3_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_fxnzadh3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_i3a22w3c_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_i3a22w3c_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_i3a22w3c_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_i3a22w3c_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ik2eprir_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ik2eprir_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ik2eprir_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ik2eprir_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_MarkupCompile.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_MarkupCompile.lref
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ognsuw1e_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ognsuw1e_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ognsuw1e_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_ognsuw1e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_se0nbwu2_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_se0nbwu2_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_se0nbwu2_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_se0nbwu2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_tjzzsvyp_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_tjzzsvyp_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_tjzzsvyp_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_tjzzsvyp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_wjlj21zo_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_wjlj21zo_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_wjlj21zo_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_wjlj21zo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.AssemblyInfo.cs
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.AssemblyInfoInputs.cache
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.assets.cache
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.csproj.nuget.dgspec.json
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.csproj.nuget.g.props
/MvvmPlayground.SimpleExample/obj/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.csproj.nuget.g.targets
/MvvmPlayground.SimpleExample/obj/Debug/net6.0-windows/MvvmPlayground.SimpleExample_y25lp51e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/MvvmPlayground.SimpleExample/obj/project.assets.json
/MvvmPlayground.SimpleExample/obj/project.nuget.cache
/MvvmPlayground.SimpleExample/obj/project.packagespec.json
/.idea/.idea.MvvmPlayground/.idea/projectSettingsUpdater.xml
/MvvmPlayground.SimpleExample/obj/rider.project.restore.info
/.idea/.idea.MvvmPlayground/.idea/vcs.xml
/.idea/.idea.MvvmPlayground/.idea/workspace.xml
